page-further-reading {

}

.txt_css{

    background-color: #e8789d !important;
    color: white !important;
}

p.item-text {
    color: white;
}

#main-content{
    margin-top: 34px !important;
}

.icon_size{
    font-size: 2.2em !important;
    color: white;
}