page-home {
   
}


.main{

    background: url("../assets/imgs/intro-bkgrd.jpg") center  ;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
 
}


.content-main{
    display: grid;   
    height: 70%;
    background-image: url("../assets/imgs/matimms_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.btn-journey
{
    width: 83%;
    height: 60px;
    margin:0 auto;
   
}


@media screen and (min-width: 768px){

    .btn-journey{
           margin: 35px auto; 
    }

    .content-main{

        background-size: 25%;        
    }    



} 
