<!--
  Generated template for the PostDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons end>
        <button ion-button menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>{{header_title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="hideData">
  
      <div >
        <h4 class="txt_center">{{title}}</h4>
        <div class="img_div">  
          <img src="{{imgUrl}}" alt="image not found" >
        </div>  
        <div class="p_txt_format" [innerHTML]="description">
           

        </div>
      <button class="prev_post_button" [ngStyle]="{'background-color':'gray'}" *ngIf="hide_show" ion-button (click)="prevPage()">Previous</button>
      <button class="next_post_button" [ngStyle]="{'background-color':parent_color}" ion-button (click)="nextPage()">{{btn_text}}</button>
      

      </div>    
     
</ion-content>
