page-post-detail {

}

.p_txt_format{

    p{
        margin: 10px;
        /* margin-left: 10px; */
        font-size: 16px;
        
    }


    ul {
        list-style-type: disc;
        padding-left: 40px;
        font-size: 15px;
    }
   
}