page-myjourney {

}


.back_img{

    background-image: url("../assets/imgs/journey-bkgrd-large.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.main_content{

    height: 100%;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    margin: 0 auto;
    vertical-align: center;
}

.type3 {
    width: 275px;
    height: 275px;
    background: white;
    text-align: center;
}
  

.middle_div{
   // display: flex;
    align-items: center;
    height: 100%;
   // display: block;
    overflow: hidden;
    background: url(../assets/imgs/line.png) repeat-y center top;
    margin-top: 30%;
}

.middle_div1{
   
    height: 100%;
    overflow: hidden;
    display: table;
    width: 100%;
    background: url(../assets/imgs/line.png) repeat-y center top;
}

.cont_data{
    padding-top: 15%;
    height: 100%;
}

.cont_data2{
    padding-top: 20px;    
    height: 100%;
    position: relative;
}

.m_header{
    
    font-size: 23px
}

.circle_one{
    margin-left: 10px;
    font-size: 14px;
    margin-top: 4px;
    margin-right: 10px;
}

.icon_css{
    color: #e8789d;
    padding-top: 10px;
    font-size: 50px;

}


.candy_stick{

    height: 100%;
    display: flex;
    justify-content: center;
    margin: -1px;
}




.dynamic_header{
    font-size: 23px;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

.dynamic_button{

    color: #fff;
 //   background-color: #32db64;
    border-radius: 40px !important;
    height: 2.5em;
    font-size: 1.6rem;
    width: 60%;
}

.check_css{
    color:#32db64;
    font-size: 14.2rem;
    font-weight: bold;
    margin-top: -60px;
}

.Last_div{
    height: 80%;
    overflow: hidden;
    display: table;
    width: 100%;
}

.circle_align_btn{
    position: absolute;
    display: table-column-group;
    justify-content: center;
    width: 100%;
    bottom: 8%;
    line-height: 1.8;
}

.ic_colors{
    color: gray;
}

.ic_read_colors{
    color: palevioletred;
}



.last_small_candy_stick{
   
    margin-left: 3%;
}


.small_candy0 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    margin-bottom: 50%;
    border: white 4px solid;
    
}

.small_candy1 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    margin-bottom: 50%;
    border: white 4px solid;
    
}
.small_candy2 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    margin-bottom: 50%;
    border: white 4px solid;
    
}
.small_candy3 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    margin-bottom: 50%;
    border: white 4px solid;
    
}

.small_candy4 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    margin-bottom: 50%;
    border: white 4px solid;
    
}

.small_candy5 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    margin-bottom: 50%;
    border: white 4px solid;
    
}

.small_candy6 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    margin-bottom: 50%;
    border: white 4px solid;
    
}

.small_candy7 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    margin-bottom: 50%;
    border: white 4px solid;
    
}

.active_small_candy{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: white;
    margin-bottom: 50%;
    border: white 4px solid;
    
}


.small_candy_stick{

    height: 5%;
    background: url(../assets/imgs/line.png) repeat-y top;
    background-size: 20%; 
    
}

.back_attach{

    position: fixed;
    margin-left: 3%;
    margin-top: -40%;
}
