<!--
  Generated template for the MyjourneyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true" color="primary" >
    <ion-buttons end  >
        <button ion-button menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>MatImms</ion-title>
  </ion-navbar>

</ion-header>



<ion-content #contentRef (ionScroll)="scrollingFun($event)" class="back_img">

 <div *ngIf="hideData" class="main_content"> 

<div class="middle_div" >
    
  

  <div class="circleBase type3" >
    <div class="cont_data">
    <p class="m_header">Your journey </p><p class="m_header">starts here</p>
    <p class="circle_one">Pregnancy is an exciting time for you and your family!</p>
    <p class="circle_one">But we understand that sometimes it can be overwhelming, with lots of new information to take in.</p>
    <ion-icon name="ios-arrow-down" class="icon_css"></ion-icon>
    </div> 
    
 
  </div>


  <div class="back_attach">
    <div *ngFor="let candy of small_candy_count ; let i= index "  [ngClass]=" i== 7 ? 'last_small_candy_stick' : 'small_candy_stick' ">
      <div  [ngStyle]="{'background-color' :  color_array[i] }" class= "small_candy{{i}}" >

      </div>
    </div>  
  </div>

  
    
  
</div>

<div class="middle_div1">
  <div class="circleBase type3">
      <div class="cont_data2">
    <p class="circle_one">Many mothers want to know</p><p class="circle_one">more about why certain things are</p><p class="circle_one">offered to them during pregnancy, including vaccinations.</p>
    <p class="circle_one">By taking this journey we hope we will help you learn about why maternal immunisation is so important to protect both you and your baby</p>
    <p class="circle_one"> Don't forget to visit the menu for relevant links and a personalised vaccination schedule for you and your baby</p>
    </div>    
   

  </div>
</div>


<div class="middle_div1" *ngFor="let chapter of chapterList; let j = index "  > 

       

        <div class="circleBase type3"> 
          <div class="cont_data2" >
              <p class="dynamic_header">{{chapter.title.rendered}}</p>

              <div class="circle_align_btn">
           <!--   <button ion-button color="secondary" class="dynamic_button" (click)="openSlider(chapter.id,chapter.title.rendered,chapter.meta_color.light,chapter.meta_color.dark)"  [ngStyle]="{'background-color' : chapter.meta_color.light}">LET'S GO</button>
           -->
         
              <div>
              <span  *ngFor="let ic of ion_icons ; let i = index  ">  
              
                  <span *ngIf=" i < child_count [j] ? true :false ">
                
               <!--   <ion-icon *ngIf=" chapter.id == myjourney_global[j] ? true : false"  [ngClass] = "myjourney_read1[i] == 1 && chapter.id == myjourney_global[j]? 'ic_read_colors' :'ic_colors' " name={{ic}}></ion-icon>
               [ngClass] = "myjourney_read[i] == 1 && chapter.id == 25? 'ic_read_colors' :'ic_colors' "-->
               
                  <ion-icon *ngIf=" chapter.id == 25 ? true : false" [style.color] = " myjourney_read[i] == 1 && chapter.id == 25 ? chapter.meta_color.light : 'gray'"  name={{ic}}></ion-icon>
                  <ion-icon *ngIf=" chapter.id == 35 ? true : false" [style.color] = " myjourney_read1[i] == 1 && chapter.id == 35 ? chapter.meta_color.light : 'gray'" name={{ic}}></ion-icon>
                  <ion-icon *ngIf=" chapter.id == 186 ? true : false" [style.color] = "myjourney_read2[i] == 1 && chapter.id == 186? '#19CEBB' : 'gray' " name={{ic}}></ion-icon>
                  <ion-icon *ngIf=" chapter.id == 59 ? true : false" [style.color] = "myjourney_read3[i] == 1 && chapter.id == 59? chapter.meta_color.light : 'gray' " name={{ic}}></ion-icon>
                  <ion-icon *ngIf=" chapter.id == 619 ? true : false" [style.color] = "myjourney_read4[i] == 1 && chapter.id == 619? chapter.meta_color.light : 'gray' " name={{ic}}></ion-icon>                
                  </span>
                  
              </span>
              
              <p> {{read_complete_count[j]}} out of {{child_count[j]}} complete</p> 
              </div>
              <button ion-button color="first" class="dynamic_button" (click)="openSlider(chapter.id,chapter.title.rendered,chapter.meta_color.light,chapter.meta_color.dark)"  [ngStyle]="{'background-color' : chapter.meta_color.light}">LET'S GO</button>
            </div>
          </div>    
          
        </div>
       

</div>
     

    <div class="Last_div" > 

       

        <div class="circleBase type3" > 
          <div class="cont_data2" >
              <p class="dynamic_header">{{txtLastCircle}}</p>
              <br><br><br><br>
             
              <ion-icon name="checkmark" class="check_css"></ion-icon>
          </div>    
          
        </div>
   
    </div>  


  </div>
    
</ion-content>


